roar_and_explore_01/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
roar_and_explore_01/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
roar_and_explore_01/.vs/roar_and_explore_01/v17/.suo
roar_and_explore_01/.vs/roar_and_explore_01/v17/.suo
roar_and_explore_01/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
roar_and_explore_01/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
roar_and_explore_01/Assembly-CSharp.csproj
roar_and_explore_01/.vs/roar_and_explore_01/v17/DocumentLayout.json
roar_and_explore_01/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
roar_and_explore_01/.vs/roar_and_explore_01/v17/.suo
roar_and_explore_01/.vs/roar_and_explore_01/v17/DocumentLayout.json
roar_and_explore_01/.vs/roar_and_explore_01/v17/.suo
roar_and_explore_01/.vs/roar_and_explore_01/v17/DocumentLayout.json
roar_and_explore_01/Assembly-CSharp.csproj
